footer img {
    width: 80%;
    max-width: 300px;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(83, 103, 109, 0.6)), url("../../assets/img/footer.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(39, 82, 94, 0.3);
}