<footer>
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left">
				<div class="col-xs-12 col-sm-8">
					<img src="../../assets/img/logo-light.png" alt="logo">
					<p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis natus animi
						quibusdam magnam adipisci! A similique sint laudantium dolor error natus voluptates totam atque
						ullam, labore facere corporis quasi molestias.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li>
							<a href="#">
								<fa-icon [icon]="faAngle"></fa-icon>Home
							</a>
						</li>
						<li>
							<a href="#">
								<fa-icon [icon]="faAngle"></fa-icon>About us
							</a>
						</li>
						<li>
							<a href="#">
								<fa-icon [icon]="faAngle"></fa-icon>FAQ
							</a>
						</li>
						<li>
							<a href="#">
								<fa-icon [icon]="faAngle"></fa-icon>Privacy
							</a>
						</li>
						<li>
							<a href="https://github.com/VeOb00" title="Design and developed by">
								<fa-icon [icon]="faAngle"></fa-icon>Imprint
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item">
							<a href="#">
								<fa-icon [icon]="faFacebook" title="Like us on Facebook!" class="h4"> </fa-icon>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#" target="_blank" title="Follow us on twitter!">
								<fa-icon [icon]="faTwitter" title="Like us on twitter!" class="h4"> </fa-icon>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#" target="_blank" title="Follow us on instagram!">
								<fa-icon [icon]="faInstagram" title="Follow us on instagram!" class="h4"> </fa-icon>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#" target="_blank" title="Find us on Google+">
								<fa-icon [icon]="faGoogle" title="Find us on Google+" class="h4"> </fa-icon>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="mailto:example@example.com" target="_blank" title="Write us!">
								<fa-icon [icon]="faEnvelope" title="Write us!" class="h4"> </fa-icon>
							</a>
						</li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col mt-2 mt-sm-2 text-center text-white">
					<p>
						<a href="/">V Travel - Travel Agancy</a> &#124; Kettenbrückengasse 23/2/12, 1050 Vienna,
						Austria &#124; <a href="tel:+43-699 12255185">+43 699 122 55 185</a> &#124; <a
							href="mailto:example@example.com">office@vtravel.at</a>
					</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://github.com/VeOb00"
							target="_blank">Vedrana</a>
					</p>
				</div>
				<hr>
			</div>
		</div>
	</section>
</footer>