<nav class="navbar navbar-expand-lg navbar-dark fixed-top px-sm-5 pt-sm-2">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
        <img src="../../assets/img/logo-light.png" height="40" alt="logo" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".navbar-collapse.show">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".navbar-collapse.show">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/travels']" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".navbar-collapse.show">Travel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".navbar-collapse.show">Contact Us</a>
            </li>
        </ul>
        <button class="btn btn-outline-light my-2 my-sm-0 rounded-0" type="submit" [routerLink]="['/checkout']"
            routerLinkActive="router-link-active">Checkout</button>
    </div>
</nav>