@import "../styles/colors";
@import '../styles/cards';

.jumbotron {
  background-image: url("../../assets/img/blogpg-hero.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .display-3 {
  font-family: "Libre Baskerville", serif;
}

a {
  text-decoration: none;
  color: $highlight-light;
}



.highlight-card {
  .card-image-wrapper {
    height: 500px;
    width: 100vw;
  }
}
