<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">Get inspired</h1>
        <h1 class="display-3 ml-5">to travel</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 d-md-flex align-items-md-stretch"
            *ngFor="let post of posts ; index as postID">
            <a [routerLink]="['/blogpost', postID]" routerLinkActive="router-link-active"
                class="card-group">
                <div class="card shadow-sm ">
                    <img src="{{post.teaserImage}}" class="card-img-top"
                        alt="{{post.name}} image">
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">{{post.blogTitle}}</h3>
                        <p *ngIf="post.place">{{post.place}}, {{post.country}}</p>
                        <hr>
                        <p class="card-text">{{post.description}}</p>
                    </div>
                    <div class="card-footer">
                        <p>Created: {{post.date}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>