<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">book your</h1>
        <h1 class="display-3 ml-5">travel today</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 d-md-flex align-items-md-stretch"
            *ngFor="let travelDestination of travelDestinations ; index as destinationId">
            <a [routerLink]="['/destinationDetail', destinationId]" routerLinkActive="router-link-active"
                class="card-group">
                <div class="card shadow-sm ">
                    <img src="{{travelDestination.image}}" class="card-img-top"
                        alt="{{travelDestination.destinationPlace}}, {{travelDestination.destinationCountry}} image">
                    <div class="card-body">
                        <h3 class="card-title">{{travelDestination.destinationPlace}}, <span>{{travelDestination.destinationCountry}}</span></h3>
                        <p>{{travelDestination.duration}} nights</p>
                        <p class="card-text">{{travelDestination.description}}</p>
                        <hr>
                        <p>
                            <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                            from {{travelDestination.startDate}}
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <h4>Price: {{travelDestination.price | currency: "EUR"}}</h4>
                        <button class="btn btn-info" [routerLink]="['/destinationDetail', destinationId]">More
                            info</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>