<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">Get inspired</h1>
        <h1 class="display-3 ml-5">to travel</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-italic font-weight-light text-right">{{post.date}}</h5>
            <h1 class="font-italic text-center text-capitalize mb-5">{{post.blogTitle}}</h1>
            <p>{{post.description}}</p>
            <div class="col-md-9 mx-auto m-5">
                <img src="{{post.teaserImage}}" alt="">
            </div>
            <p>{{post.descriptionLong}}</p>
        </div>
    </div>
</div>