<div class="jumbotron jumbotron-fluid text-light">
	<div class="container">
		<div class="hero-textbox">
			<h1 class="display-4 display-4-custom">Expirience the</h1>
			<h1 class="display-3 display-3-custom text-capitalize">Best trip ever</h1>
			<p class="lead lead-custom d-md-block d-none">We are commited to offering travel services of the highest quality, <br>
				combining our energy and enthusiasm with years of experience.</p>
			<p class="lead lead-custom d-md-none">We are commited to offering travel services of the highest quality,
				combining our energy and enthusiasm with years of experience.</p>
			<button class="btn btn-lg btn-outline-light my-2 my-sm-0 rounded-0" type="submit" [routerLink]="['/travels']"
				routerLinkActive="router-link-active">Book Today</button>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="font-italic font-weight-light">We will make your vecation unforgettable</h2>
			<h1 class="font-italic">Services we offer:</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<dl>
				<dt class="mt-md-5 text-capitalize font-italic mb-1">First service</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus nemo obcaecati est
					illo, laboriosam in asperiores expedita veritatis nisi quasi ipsa cumque, quos qui eum eius, nulla
					distinctio ab.
				</dd>
				<dd>Fusce egestas turpis dui. Ut imperdiet dui sapien, viverra interdum tortor auctor varius. Etiam
					fermentum, justo a tincidunt fringilla, leo sem feugiat enim, a commodo tellus orci vel sapien. Sed
					vitae ante mi. Etiam nisi augue, imperdiet quis rutrum in, laoreet in eros. In lorem lacus, cursus
					nec cursus vel, cursus non est. Donec euismod viverra nulla, ac imperdiet leo dignissim ut.
				</dd>

				<dt class="mt-md-5 text-capitalize font-italic mb-1">Second service</dt>
				<dd>Nullam viverra lorem arcu, a consectetur urna vestibulum nec. Maecenas in turpis in massa suscipit
					congue. Vivamus interdum justo non massa scelerisque, sed vehicula velit aliquam. Duis sagittis ex
					nec sodales sodales. Suspendisse quis ipsum sodales, ultrices sem eget, aliquet nisl. Vivamus tempor
					enim quam, eu aliquam urna suscipit sed. Ut sit amet felis eu tellus rutrum lacinia. Sed lacinia ex
					quis
					venenatis ornare.
				</dd>

				<dt class="mt-md-5 text-capitalize font-italic mb-1">Third service</dt>
				<dd>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Integer ultricies ipsum sit amet nulla egestas, vitae porta ante fermentum. Donec et mi porttitor,
					feugiat
					sapien in, maximus elit. Cras varius tincidunt ultricies. Sed libero est, tempus vel risus et,
					eleifend ullamcorper felis. Vestibulum condimentum condimentum justo, vel lacinia urna vehicula eu.
					Sed
					pellentesque, nulla vitae commodo vestibulum, eros lacus fringilla arcu, non aliquet neque neque
					posuere tellus.
				</dd>
			</dl>
		</div>
		<div class="col-md-6 my-auto">
			<img src="../../assets/img/homepg1.jpeg" alt="Woman back floating in swimming pool">
		</div>
	</div>
</div>