.jumbotron {
    background-image: url("../../assets/img/homepg-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    background-color: rgb(39, 82, 94);
}

.jumbotron .display-3 {
    font-family: 'Libre Baskerville', serif;
}

dt {
    font-size: 1.5rem;
}