<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">book your</h1>
        <h1 class="display-3 ml-5">trip today</h1>
    </div>
</div>

<ng-template [ngIf]="travelDestinations.length == 0">
    <div class="container">
        <p>Your shopping cart is empty, continue shopping</p>
        <button class="btn btn-info p-3" [routerLink]="['/travels']" routerLinkActive="router-link-active">
            Show offers</button>
    </div>
</ng-template>

<ul class="container list-unstyled" *ngFor="let destination of travelDestinations">
    <li class="media">
        <img src="{{destination.image}}" class="mr-3 col-1"
            alt="{{destination.destinationPlace}}, {{destination.destinationCountry}}">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ destination.destinationPlace }}, {{ destination.destinationCountry }}</h5>
            Price: {{destination.price | currency: "EUR"}}
        </div>
    </li>
    <hr>
</ul>
<ng-template [ngIf]="travelDestinations.length != 0">
    <div class="container text-right">
        <dl class="row">
            <dt class="col-sm-10 text-muted">Subtotal without discount: </dt>
            <dd class="col-sm-2">{{priceCalculation.calculateTotal | currency: "EUR"}}</dd>
            <dt class="col-sm-10 text-muted">Savings:</dt>
            <dd class="col-sm-2 total-sum">- {{priceCalculation.discount | currency: "EUR"}}</dd>
            <dt class="col-sm-10 text-info h4">Total price:</dt>
            <dd class="col-sm-2 text-info h4"><b>{{priceCalculation.finalPrice | currency: "EUR"}}</b></dd>
        </dl>
    </div>

    <div class="container mt-5">
        
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="formFName">First name *</label>
                    <input type="text" class="form-control" id="formFName" formControlName="firstName" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="formLName">Last name *</label>
                    <input type="text" class="form-control" id="formLName" formControlName="lastName" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="formCity">City *</label>
                    <input type="text" class="form-control" id="formCity" formControlName="city" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="formState">State *</label>
                    <select class="custom-select" id="formState" formControlName="state" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Vienna</option>
                        <option>Lower Austria</option>
                        <option>Upper Austria</option>
                        <option>Styria</option>
                        <option>Tyrol</option>
                        <option>Carinthia</option>
                        <option>Salzburg</option>
                        <option>Vorarlberg</option>
                        <option>Burgenland</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="formZip">Zip *</label>
                    <input type="text" class="form-control" id="formZip" formControlName="zip" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="formEmail">e-mail *</label>
                    <input type="text" class="form-control" id="formEmail" formControlName="email" required>
                </div>
            </div>
            <div class="form-row my-1">
                <small>* Required</small>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</ng-template>
<div class="footer-bottom"></div>