<div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
        <br><br>
        <h1 class="display-4">book your</h1>
        <h1 class="display-3 ml-5">travel today</h1>
    </div>
</div>

<ng-template [ngIf]="travelDestinations.length == 0">
    <div class="container">
        <p>Your shopping cart is empty, continue shopping</p>
        <button class="btn btn-info p-3" [routerLink]="['/travels']" routerLinkActive="router-link-active">
            Show offers</button>
    </div>
</ng-template>

<ul class="container list-unstyled" *ngFor="let destination of travelDestinations">
    <li class="media">
        <img src="{{destination.image}}" class="mr-3 col-1"
            alt="{{destination.destinationPlace}}, {{destination.destinationCountry}}">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ destination.destinationPlace }}, {{ destination.destinationCountry }}</h5>
            Price: {{destination.price | currency: "EUR"}}
        </div>
    </li>
    <hr>
</ul>
<ng-template [ngIf]="travelDestinations.length != 0">
    <div class="container text-right">
        <dl class="row">
            <dt class="col-sm-10 text-muted">Subtotal without discount: </dt>
            <dd class="col-sm-2">{{priceCalculation.calculateTotal | currency: "EUR"}}</dd>
            <dt class="col-sm-10 text-muted">Savings:</dt>
            <dd class="col-sm-2 total-sum">- {{priceCalculation.discount | currency: "EUR"}}</dd>
            <dt class="col-sm-10 text-info h4">Total price:</dt>
            <dd class="col-sm-2 text-info h4"><b>{{priceCalculation.finalPrice | currency: "EUR"}}</b></dd>
        </dl>
    </div>
</ng-template>
<div class="footer-bottom"></div>