.jumbotron {
    background-image: url("../../assets/img/travelspg-hero.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron .display-3 {
    font-family: 'Libre Baskerville', serif;
}

.footer-bottom {
    min-height: 25vh;
}

.total-sum {
    // text-decoration: underline;
    border-bottom: 1px double black;
}